<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/urspi_new.png">
    <title th:text="${title}"></title>
    <!-- Custom CSS -->
    <link href="/admin/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/css/dataTables.bootstrap4.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:insert="~{parts/header::header}"></div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <div th:insert="~{parts/sidebar::sidebar}"></div>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Tuzilma</h4>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex align-items-center justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">
                                        Asosiy
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Tuzilma</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Bunday tuzilma mavjud</div>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-cyan">Tuzilma qo`shildi</div>
            </div>
            <div th:if="${param.update}">
                <div class="alert alert-info">Tuzilma o`zgartrildi</div>
            </div>
            <div th:if="${param.delete}">
                <div class="alert alert-warning">Tuzilma o`chirildi</div>
            </div>
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-outline-cyan" data-toggle="modal"
                                            data-target="#createStructureModal" data-whatever="@mdo"><i
                                            class="fas fa-plus"></i> Tuzilma qo`shish
                                    </button>
                                </div>
                            </div>
                           <table class="table table-hover mt-3">
                               <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Tuzilma</th>
                                   <th>Status</th>
                                   <th>Action</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr th:each="structure:${structures}">
                                   <td th:text="${structure.id}"></td>
                                   <td th:text="${structure.name}"></td>
                                   <td th:if="${structure.status == 1}">
                                       <button disabled class="btn btn-success btn-sm">Active</button>
                                   </td>
                                   <td th:unless="${structure.status==1}">
                                       <button disabled class="btn btn-danger">No active</button>
                                   </td>
                                   <td>
                                       <a th:href="@{/dashboard/structure/edit/getOne(id=${structure.id})}" class="ebtn btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                       <a th:href="@{/dashboard/structure/delete(id=${structure.id})}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                                   </td>

                               </tr>
                               </tbody>

                           </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div th:insert="~{parts/footer::footer}"></div>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<div class="modal" id="createStructureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Tuzilma qo`shish</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/dashboard/structure/create" th:object="${structure}">
                    <div class="form-group">
                        <label for="category_name" class="control-label">Tuzilma nomi</label>
                        <input type="text" class="form-control" id="category_name" th:field="${structure.name}">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Qo`shish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end create modal-->

<!--Edit department modal-->
<div class="modal" id="editStructureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel2">O`zgartirish </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/dashboard/structure/update" th:object="${structure}">
                    <input type="hidden" id="structureId" th:field="${structure.id}">
                    <div class="form-group">
                        <label for="editStructure" class="control-label">Tuzilma nomi</label>
                        <input type="text" class="form-control" id="editStructure" th:field="${structure.name}">
                    </div>
                    <input type="hidden" id="status" th:field="${structure.status}">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">O`zgartirish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End edit department modal-->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- customizer Panel -->
<!-- ============================================================== -->
<!--<div th:insert="~{parts/customizer::customizer}"></div>-->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/admin/js/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="/admin/js/app.min.js"></script>
<script src="/admin/js/app.init.js"></script>
<script src="/admin/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/admin/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/admin/js/sparkline.js"></script>
<!--Wave Effects -->
<script src="/admin/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/admin/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/admin/js/custom.min.js"></script>
<script src="/admin/js/structureEdit.js"></script>

</body>

</html>