<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:insert="~{parts/client/head::head}"></div>
<style>
    .list-group-item{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }
</style>
<body>
<div th:insert="~{parts/client/header::header}"></div>
<main>
    <div class="container">
       <div class="row mb-3 mt-3" >
           <div class="col-sm-9">
               <a href="https://urspi.uz/user_files/user_4/%D0%A3c%D1%82%D0%B0%D0%B2%20%D1%8F%D0%BD%D0%B3%D0%B8%202023%20%D0%A3%D1%80%D0%93%D0%9F%D0%98.PDF">Urganch davlat pedogogika instituti ustavini ko`rish</a>
           </div>
           <div class="col-sm-3">

               <div class="list-group" >
                   <div th:each="category:${categories}">
                       <a href="#" class="list-group-item list-group-item-action" th:text="${category.name}"></a>
                   </div>
               </div>
           </div>
       </div>
    </div>

</main>
<div th:insert="~{/parts/client/footer::footer}"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/front/js/gallery.js"></script>
<script src="/front/js/slider.js"></script>

</body>
</html>