<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row pt-5 pb-3">
            <div class="col-sm-3">
                <div class="footer_info">
                    <p>Urganch davlat pedagogika instituti</p>
                    <p>Oʻzbekiston, 220100, Urganch shahri, Gurlan koʻchasi, 1-A uy</p>
                    <p><i class="bi bi-telephone"></i>  +998 62 229 18 40</p>
                    <p><i class="bi bi-envelope-arrow-up"></i>  study_info@urspi.uz</p>
                    <p><i class="bi bi-bus-front"></i>  7,18,19</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_link">
                    <a href="#">&#11031; Institut tarixi</a>
                    <a href="#">&#11031; Institut nizomi</a>
                    <a href="#">&#11031; Rahbariyat</a>
                    <a href="#">&#11031; Fakultetlar</a>
                    <a href="#">&#11031; Kafedralar</a>
                    <a href="#">&#11031; Markaz va bo`limlar</a>
                    <a href="#">&#11031; Jamoatchilik kengashi</a>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="footer_link">
                    <a href="#">&#11031; Kengash</a>
                    <a href="#">&#11031; Xalqaro hamkorlik</a>
                    <a href="#">&#11031; Instituga ishga qabul</a>
                    <a href="#">&#11031; Moliya bo`limi</a>
                    <a href="#">&#11031; Ilmiy faoliyat</a>
                    <a href="#">&#11031; Ma`naviyat</a>
                </div>
            </div>
            <div class="col-sm-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1255.088927391632!2d60.61745444654764!3d41.56661786554701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfc93be1d6f537%3A0xfa7e75bd70bf73c6!2sUrganch%20davlat%20pedagogika%20instituti%2C%20UrDPI%2C%20UrSPI!5e0!3m2!1sru!2s!4v1724216592622!5m2!1sru!2s" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <hr class="hr">
        <!--        <div class="row footer_info">-->
        <!--            <div class="col-sm-4">-->
        <!--                <p>Urganch davlat pedagogika instituti rasmiy veb sayti</p>-->
        <!--            </div>-->
        <!--            <div class="col-sm-4">-->
        <!--                <p>Saytda xatoliklarga duch kelsangiz Ctrl+Enter tushmalarini baravar bosgan holda bizga xabar jo‘natishiningiz mumkin.</p>-->
        <!--            </div>-->
        <!--            <div class="col-sm-4">-->
        <!--                <p>Saytdagi barcha materiallardan quyidagi litsenziya bo‘yicha foydalanish mumkin:</p>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

</footer>
