<header th:fragment="header">
    <div class="header_info">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>
                        <i class="bi bi-geo"></i>
                        Manzil: Oʻzbekiston, 220100, Urganch shahri, Gurlan koʻchasi, 1-A uy
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="social_links">
                        <a class="link" href="#"><i class="bi bi-telegram"></i></a>
                        <a class="link" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="link" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="link" href="#"><i class="bi bi-youtube"></i></a>
                        <div class="dropend">
                            <a class="link btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-translate"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img src="/front/images/uz.png" alt="uz"
                                                                           width="24" height="24"> Uz</a></li>
                                <li><a class="dropdown-item" href="#"><img src="/front/images/ru.png" alt="uz"
                                                                           width="24" height="24"> Ru</a></li>
                                <li><a class="dropdown-item" href="#"><img src="/front/images/en.png" alt="uz"
                                                                           width="24" height="24"> Eng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 header_menu">
        <div class="container d-flex flex-wrap justify-content-center align-items-center">
            <a href="/static"
               class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <img src="/front/images/logo.png" alt="" srcset="" width="400">
            </a>
        </div>
    </div>
    <div class="navbar d-flex align-items-center">
        <div class="container">
                <a class="nav_link" href="/"><i class="bi bi-house-fill"></i></a>
                <a class="nav_link" href="/news?status=1">Yangliklar</a>
                <a class="nav_link" href="/institute">Institut</a>
                <a class="nav_link" href="/activity">Faoliyat</a>
                <a class="nav_link" href="/students">Talabalar</a>
                <a class="nav_link" href="/applicants">Abiturientlar</a>
                <a class="nav_link" href="/resources">Ta`lim resurslari</a>
<!--            <div th:each="menu:${menus}">-->
<!--                <a class="nav_link" href="#" th:text="${menu.name}"></a>-->
<!--            </div>-->
            
        </div>
    </div>
</header>