<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:insert="~{parts/client/head::head}"></div>
<body>
<div th:insert="~{parts/client/header::header}"></div>
<main>
    <!--    Corusel -->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/front/images/slide1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block"
                     style="padding: 10px; background-color: #ffffff; color: #0a0965;font-weight: bold; border-radius: 15px; opacity: 0.8">
                    <h5>Urganch davlat pedagogika instituti tashkil etildi</h5>
                    <a href="#" style="text-decoration: none">Batafsil</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/front/images/slide2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block"
                     style="padding: 10px; background-color: #ffffff; color: #0a0965;font-weight: bold; border-radius: 15px; opacity: 0.8">
                    <h5>Urganch davlat pedagogika instituti ustavi</h5>
                    <a href="/statute" style="text-decoration: none">Batafsil</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/front/images/slide3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block"
                     style="padding: 10px; background-color: #ffffff; color: #0a0965;font-weight: bold; border-radius: 15px; opacity: 0.8">
                    <h5>Urganch davlat pedagogika instituti ustavi</h5>
                    <a href="/statute" style="text-decoration: none">Batafsil</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--end carusel-->
    <!--    search bar-->
    <!--    <div class="search_bar">-->
    <!--        <div class="container">-->
    <!--            <form class="shadow-lg" role="search">-->
    <!--                    <input type="text" name="search" id="search" placeholder="Izlash...">-->
    <!--                    <button class="_btn"><i class="bi bi-search"></i></button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- app section -->
    <div class="container">
        <div class="d-flex mt-3 mb-3 justify-content-between">
            <div class="app_card">
                <img src="/front/images/free-icon-telegram-logo-87413.png" alt="telegram_logo" width="50">
                <a href="#">Rektorga <br> murojat</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-study-8920696.png" alt="telegram_logo" width="50">
                <a href="#">Hemis</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-school-building-15553529.png" alt="telegram_logo" width="50">
                <a href="#">Akademik <br> litsey</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-corruption-5411053.png" alt="telegram_logo" width="50">
                <a href="#">Korrupsiya</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-news-report-7793364.png" alt="telegram_logo" width="50">
                <a href="#">Matbuot <br> xizmati</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-teamwork-8834709.png" alt="telegram_logo" width="50">
                <a href="#">Kadrlar <br> bo`limi</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-consulting-service-16930151.png" alt="telegram_logo" width="50">
                <a href="#">Call <br> Center</a>
            </div>
            <div class="app_card">
                <img src="/front/images/free-icon-video-player-4499597.png" alt="telegram_logo" width="50">
                <a href="#">Video <br> tranferlar</a>
            </div>
        </div>
    </div>

    <!-- app section end-->
    <!--    search bar end-->
    <!--    news section-->
    <div class="_news">
        <div class="container">
            <div class="row pb-5">
                <!--        news-->
                <div class="col-sm-9 mt-4">
                    <div class="news d-flex justify-content-between align-items-center">
                        <span>Yangliklar</span>
                        <button class="btn">Barcha yangliklar</button>
                    </div>
                    <hr class="hr hr-blurry mt-4"/>
                    <div class="row row-cols-3">
                        <div class="col mt-3" th:each="news:${newsList}">
                            <a th:href="@{/news/getOne(newsId=${news.id})}" class="news_card">
                                <div class="card _fade border-0 shadow bg-body-tertiary rounded">
                                    <img th:src="@{'/dashboard/news/files/'+ ${news.image}}" alt="132">
                                    <div class="card-content card-img-overlay">
                                        <h5 class="card-title" th:text="${news.title}"></h5>
                                        <p class="card-text"><small th:text="${news.createdAt.toString().substring(0,10)}"></small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--        news end-->
                <!--        events-->
                <div class="col-sm-3 mt-4">
                    <div class="events">
                        <span>E'lonlar</span>
                        <br>
                        <hr class="hr hr-blurry mt-4"/>
                        <div class="event_card_list">
                            <div class="event_card">
                                <i class="bi bi-calendar2-event" style="font-size: 36px; color: #0a0965"></i>
                                <div class="event_info">
                                    <a href="#">E`lon sarlavhasi</a>
                                    <p>22.08.2024</p>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="event_card">
                                <img src="/front/images/urspi_new.png" alt="" width="72px">
                                <div class="event_info">
                                    <a href="#">E`lon sarlavhasi</a>
                                    <p>22.08.2024</p>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="event_card">
                                <img src="/front/images/urspi_new.png" alt="" width="72px">
                                <div class="event_info">
                                    <a href="#">E`lon sarlavhasi</a>
                                    <p>22.08.2024</p>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="event_card">
                                <img src="/front/images/urspi_new.png" alt="" width="72px">
                                <div class="event_info">
                                    <a href="#">E`lon sarlavhasi</a>
                                    <p>22.08.2024</p>
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="event_card">
                                <img src="/front/images/urspi_new.png" alt="" width="72px">
                                <div class="event_info">
                                    <a href="#">E`lon sarlavhasi</a>
                                    <p>22.08.2024</p>
                                </div>
                            </div>
                            <hr class="hr">
                        </div>
                    </div>


                </div>
                <!--        events end-->
            </div>
        </div>
    </div>

    <!--    news section end-->
    <!--    stat-->
    <section class="stat">
        <div class="container">
            <div class="row pt-3">
                <div class="col-sm-12">
                    <span class="d-flex justify-content-center">&#9644; Statistika &#9644;</span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-3">
                    <div class="_card p-4 shadow-lg">
                        <h5>Umumiy talabalar soni: </h5>
                        <span>7000 ta</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="_card p-4 shadow-lg">
                        <h5>Grant asosida: </h5>
                        <span>7000 ta</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="_card p-4 shadow-lg">
                        <h5>To`lov kontrakti asosida: </h5>
                        <span>7000 ta</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="_card p-4 shadow-lg">
                        <h5>Super kontrakt: </h5>
                        <span>38 ta</span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <div class="_card p-4 shadow-lg">
                        <h5>Talabalar turar joyinda: </h5>
                        <span>1221 ta</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="_card p-4 shadow-lg">
                        <h5>Ijarada turuvchi talabalar: </h5>
                        <span>900 ta</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="_card p-4 shadow-lg">
                        <h5>Uydan qatnaydigan talabar: </h5>
                        <span>5241 ta</span>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--    stat end-->

    <section class="slideshow">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <span class="mt-3" style="color: #0a0965; font-size: 28px; font-weight: bold">&#9644; Rahbariyat &#9644;</span>
                </div>
            </div>

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fadee mt-4">
                <div class="ceo_card d-flex justify-content-around align-items-center shadow-lg">
                    <div class="ceo">
                        <img src="/front/images/ceo.jpg" class="_fade shadow-lg" alt="">
                    </div>
                    <div class="info">
                        <p>Rektor</p>
                        <h3>Madraximova Feruza Ruzimbayevna</h3>
                        <p><i class="bi bi-geo-alt"></i> Xorazm viloyati, Urganch shahri, Gurlan ko'chasi 1A-uy</p>
                        <p><i class="bi bi-calendar4-week"></i> Qabul kunlari seshanba va juma kuni 14:00-17:00</p>
                        <p><i class="bi bi-envelope-arrow-up"></i> fmr88@mail.ru</p>
                        <p><i class="bi bi-telephone"></i> +998 (62) 229-18-40</p>

                    </div>

                </div>
            </div>

            <div class="mySlides fadee mt-4 ">
                <div class="ceo_card d-flex justify-content-around align-items-center shadow-lg">
                    <div class="ceo">
                        <img src="/front/images/ceo2.jpg" class="_fade shadow-lg" alt="">
                    </div>
                    <div class="info">
                        <p>O'quv ishlar bo'yicha prorektor</p>
                        <h3>Sheripov Umarbek Atajanovich</h3>
                        <p><i class="bi bi-geo-alt"></i> Xorazm viloyati, Urganch shahri, Gurlan ko'chasi 1A-uy</p>
                        <p><i class="bi bi-calendar4-week"></i> Qabul kunlari: Har kuni 08:00 - 11:00</p>
                        <p><i class="bi bi-envelope-arrow-up"></i> sheripovu@gmail.com</p>
                        <p><i class="bi bi-telephone"></i> +998 91 434 24 55</p>
                    </div>

                </div>
            </div>

            <div class="mySlides fadee mt-4">
                <div class="ceo_card d-flex justify-content-around align-items-center shadow-lg">
                    <div class="ceo">
                        <img src="/front/images/ceo3.jpg" class="_fade shadow-lg" alt="">
                    </div>
                    <div class="info">
                        <p>Ilmiy ishlar va innovatsiyalar bo'yicha prorektor</p>
                        <h3>Abdullayev Diyorjon</h3>
                        <p><i class="bi bi-geo-alt"></i> Xorazm viloyati, Urganch shahri, Gurlan ko'chasi 1A-uy</p>
                        <p><i class="bi bi-calendar4-week"></i> Qabul kunlari: Har kuni 08:00 - 12:00</p>
                        <p><i class="bi bi-envelope-arrow-up"></i> adn20@mail.ru</p>
                        <p><i class="bi bi-telephone"></i> +998 99 889 39 20</p>
                    </div>

                </div>
            </div>

            <div class="mySlides fadee mt-4">
                <div class="ceo_card d-flex justify-content-around align-items-center shadow-lg">
                    <div class="ceo">
                        <img src="/front/images/ceo4.jpg" class="_fade shadow-lg" alt="">
                    </div>
                    <div class="info">
                        <p>Ishlar boshqarmasi boshlig'i</p>
                        <h3>Samandarov Ikromboy Adamboyevich</h3>
                        <p><i class="bi bi-geo-alt"></i> Xorazm viloyati, Urganch shahri, Gurlan ko'chasi 1A-uy</p>
                        <p><i class="bi bi-calendar4-week"></i> Qabul kunlari: Har kuni 08:00 - 12:00</p>
                        <p><i class="bi bi-envelope-arrow-up"></i> samandarov_ikrom@gmail.com</p>
                        <p><i class="bi bi-telephone"></i> +998 99 968 55 79</p>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <!-- The dots/circles -->
        <div style="text-align:center;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </section>
    <!-- Slideshow container -->
    <!--partners-->
    <div class="container-fluid mt-3 mb-3 partners">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <span class="mt-2 mb-2" style="color: #0a0965; font-size: 28px; font-weight: bold">&#9644; Hamkor tashkilotlar &#9644;</span>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <section class="customer-logos slider mt-5">
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
                <div class="slide"><img src="/front/images/logo.png" alt="logo"></div>
            </section>
        </div>


    </div>
    <!--partners end-->
    <!--    Photo gallery-->
    <div class="container-fluid" style="background-color: #f1f1f1">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <span class="mt-2" style="color: #0a0965; font-size: 28px; font-weight: bold">&#9644; Foto galereya &#9644;</span>
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2052.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2399.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2045.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2059.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2052.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2399.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2045.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2059.JPG" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="/front/images/0C0A2052.JPG" alt=""/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</main>
<div th:insert=" ~{parts/client/footer::footer}"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script src="/front/js/gallery.js"></script>
<script src="/front/js/slider.js"></script>
<script src="/front/js/partners.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
</body>
</html>