*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}
.header_info{
    height: 50px;
    background-color: #0D3459;
    display: flex;
    align-items: center;
}
.header_info p{
    font-size: 16px;
    color: #dbdbdb;
}
.social_links{
    display: flex;
    justify-content: end;
}
.social_links a{
    font-size: 18px;
    color: #dbdbdb;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}
.social_links a:hover{
    color: #797979;
}
.header_menu{
    height: 200px;
    display: flex;
    align-items: center;
    /*background-image: url('/front/images/oxford.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

}
