<nav class="sidebar-nav" th:fragment="sidebar">
    <ul id="sidebarnav">
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard" aria-expanded="false"><i class="fas fa-home"></i><span class="hide-menu">Asosiy</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-notification-clear-all"></i><span class="hide-menu">Bo`limlar</span></a>
            <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item"><a href="/dashboard/department" class="sidebar-link"><i class="far fa-building"></i><span class="hide-menu">Bo`limalar</span></a></li>
                <li class="sidebar-item"><a href="/dashboard/category" class="sidebar-link"><i class="fas fa-table"></i><span class="hide-menu">Kategoriyalar</span></a></li>
                <li class="sidebar-item"><a href="/dashboard/position" class="sidebar-link"><i class="mdi mdi-playlist-check"></i><span class="hide-menu">Lavozimlar</span></a></li>
                <li class="sidebar-item"><a href="/dashboard/structure" class="sidebar-link"><i class="fas fa-users"></i><span class="hide-menu">Tuzilma</span></a></li>
            </ul>
        </li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/news" aria-expanded="false"><i class="fas fa-newspaper"></i><span class="hide-menu">Yangliklar</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/events" aria-expanded="false"><i class="far fa-calendar"></i><span class="hide-menu">Xodisalar</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/employee" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Xodimlar</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/pages" aria-expanded="false"><i class="far fa-file"></i><span class="hide-menu">Sahifalar</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/menu" aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Menyular</span></a></li>
    </ul>
</nav>