<ul class="navbar-nav float-right" th:fragment="userInfo">

    <!-- User profile and search -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/admin/images/2.jpg" alt="user" class="rounded-circle" width="40">
            <span class="m-l-5 font-medium d-none d-sm-inline-block" th:text="${user.fullName}"> <i class="mdi mdi-chevron-down"></i></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
            <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                <div class="">
                    <img src="/admin/images/2.jpg" alt="user" class="rounded-circle" width="60">
                </div>
                <div class="m-l-10">
                    <h4 class="m-b-0" th:text="${user.fullName}"></h4>
                    <p class=" m-b-0" th:text="${user.role}"></p>
                </div>
            </div>
            <div class="profile-dis scrollable">
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-user m-r-5 m-l-5"></i> Профиль пользователя</a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-wallet m-r-5 m-l-5"></i> Изменить пароль</a>
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item" style="color: #801b1b">
                        <i class="fa fa-power-off m-r-5 m-l-5" ></i> Выйти</button>
                </form>
            </div>
        </div>
    </li>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
</ul>